.sendmessageform {
    position: fixed;
    bottom: 0;
    height: 25%;
    width: 100%;
    display: flex;
    font-size: 20px;
}

@media screen and (max-width: 380px) {
    .sendmessageform {
        position: fixed;
        bottom: 0;
        height: 35%;
        width: 100%;
        display: flex;
        font-size: 20px;
    }
}
@media screen and (max-width: 670px) {
    .sendmessageform {
        position: fixed;
        bottom: 0;
        height: 27%;
        width: 100%;
        display: flex;
        font-size: 20px;
    }
}
@media screen and (max-width: 812px) {
    .sendmessageform {
        position: fixed;
        bottom: 0;
        height: 22%;
        width: 100%;
        display: flex;
        font-size: 20px;
    }
}

form {
    width: 100%;
}