.sendmessageform {
    position: fixed;
    bottom: 0;
    height: 25%;
    width: 100%;
    display: flex;
    font-size: 20px;
}

.sumbit-button {
    width: 15%;
}

.messagesList {
    margin-bottom: 65px;
}

.avatar-picture {
    width: 100%;
    height: 100%;
}

@media (max-width: 667px) {
    .sendmessageform {
        position: fixed;
        bottom: 0;
        height: 29%;
        width: 100%;
        display: flex;
        font-size: 20px;
    }
    @media (max-width: 740px) {
        .sendmessageform {
            position: fixed;
            bottom: 0;
            height: 22%;
            width: 100%;
            display: flex;
            font-size: 20px;
        }
        @media (max-width: 812px) {
            .sendmessageform {
                position: fixed;
                bottom: 0;
                height: 20%;
                width: 100%;
                display: flex;
                font-size: 20px;
            }
            @media (max-width: 1024px) {
                .sendmessageform {
                    position: fixed;
                    bottom: 0;
                    height: 16%;
                    width: 100%;
                    display: flex;
                    font-size: 20px;
                }
            }
        }
    }
}

form {
    width: 100%;
}